/******** accueil ********/

/* NAV */
$background-color_nav : #1b1b1b;
$nav_h2 : #a68152;
$nav_p : #d1d1d1;
$nav-liens : #6e6e6e;
$nav_liens_accueil :#a68152;
/* NAV */

/* header */
$background-color_body : #222222;
$header_h4 : #ffffff;
$header_h1 : #ffffff;
$button_header : #f7f7f7;
/* header */

/* section */
$bady_section_hotel : #222222;
$color_sous-titre--gold : #a68152;
$hotel_h2 : #ffffff;
$hotel_p : #6e6e6e;
/* section */

/* section chambre */
$bady_section_chambre :  #1e1e1e;
$chambre_h3 :#a68152;
$chambre_h2 :#ffffff;
$button_chambre :#f7f7f7;
$chambre_h6 :#ffffff;
$chambre_h5 :#ffffff;
/* section chambre */

/* section services */
$background-color_section_services : #222222;
$background-color_div_services : #2b2b2b;
$services_h3 : #a68152;
$services_h2 : #ffffff;
$services_p : #6e6e6e;
$button_services : #ab8a62;
/* section services */

/* section options */
$h2 : #ffffff;
$options_p :#6e6e6e;
$icone_phone : #a68152;
$numero_tel : #a68152;
$background-color_deux_carrés : #2b2b2b;
$h3_dejeuner : #ffffff;
$prix_p : #a68152;
$ul_options : #6e6e6e;
$h3_coffre : #ffffff;
$prix_p : #a68152;
$ul_options : #6e6e6e;

/* section services en */
$h2_services_en : #ffffff;
$icones_services_en : #a88252;
$h4_services_en : #ffffff;
$services_en_p : #6e6e6e;
/* section services en */

/* footer */
$footer_h3 : #ffffff;
$footer_p : #6e6e6e;
$footer_h3 : #ffffff;
$footer_p : #6e6e6e;
$footer-phone : #ffffff;
$footer-numero-phone: #ffffff;
$footer_mail : #ffffff;
$footer-footer : #ffffff;
/* footer */

/* section footer */
$sections_footer_ul : #1e1e1e;
$sections_footer_p : #dbdbdb;
/* section footer */




/******** detail-chambre ********/

