footer {
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 100vh;
    margin-left: 250px;
    margin-right: 0px;
    padding-bottom: 60px;
    padding-left: 250px;
    

        ul {
            display: flex;
        padding-left: 200px;
        }

.contact .footer-phone-num {
            display: flex;

            }

    a {
        color: black;

    }

    a:hover {
        color: gold;
        text-decoration: none;
    }

    .apropos {
        h3 {
            width: 100%;
            padding-top: 15px;
            padding-left: 250px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 220px;
        }

        p {
          
            padding-left: 200px;
            padding-right: px;
            padding-top: 15px;
        }
    }

    .contact {
                margin-left: 330px;
            p {
            padding-bottom: 20px;
            padding-top: 15px;
            margin-bottom: 0px;

        }

        ul {
            display: flex;
            align-items: flex-end;
            padding-left: 0px;

            li {
                list-style-type: none;
                padding: 5px;
            }
        }

        .footer-phone-num {
            display: flex;
            justify-content: flex-start;
            align-items: end;
            margin-bottom: 15px;
            gap: 5px;

            .flaticon-call {
                font-size: 1.1em;
            }

            .footer-numero-phone {

                a {
                    color: black;
                }

                a:hover {
                    color: gold;
                }
            }
        }
    }
}
