.header-chambre {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: 300px;
    min-height: 100svh;
    background-image:url(/images/slider/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 3rem;
    place-content: center;
    object-fit: fill;
    margin-bottom: 3;
    text-align: center;

    .Les-5-etoiles{
        color: gold;
    }


}