.pied-de-page {
    display: flex;
    background-color: gray;
    gap: 5px;
    margin-left: 250px;
    margin-right: 250px;

    a {
        text-decoration: none;
    }

    a:hover {
        color: gold;
    }

    ul {
        display: flex;
        gap: 5px;

        li {
            list-style-type: none;

        }
    }


}