.pied-de-page {
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    background-color: gray;
    margin-top: 200px;
    max-height: 50px;
    width: 100wh;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-size: 0.8rem;

    .copy ul {
        display: flex;
        list-style-type: none;
        padding-right: 5px;

        li {
            padding-left: 5px;

            a {
                color: black;

            }

            a:hover {
                color: gold;
                text-decoration: none;
            }
        }
    }
}